In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
import seaborn as sn
%matplotlib inline

# Lectura de los datos.

In [2]:
dfgrande=pd.read_csv('/Users/lescobar/Desktop/Proyecto Integrador/data/filtered1_dataset.csv', index_col="patient_id")
dfgrande.shape

(17644, 21)

# Ajuste de las columnas y variables dummy.

In [3]:
dfgrande = dfgrande[['height','weight','age','sistolic','diastolic','heart_rate','pulse_pressure','cardiac_index','systemic_vascular_resistance','treatment','gender','smoking','excercise_frecuency','beer','wine','alcohol','strong_licor']]
dfgrande.head()

,height,weight,age,sistolic,diastolic,heart_rate,pulse_pressure,cardiac_index,systemic_vascular_resistance,treatment,gender,smoking,excercise_frecuency,beer,wine,alcohol,strong_licor
patient_id,,,,,,,,,,,,,,,,,
30,1.78,102.0,33.854327,120.457143,79.957143,72.685714,41.0,2.3,1158.0,True,m,0,5,0,0,1,0
31,1.67,82.4,71.064644,143.405405,91.067568,65.500000,52.0,2.8,1417.0,False,m,0,2,0,0,1,0
32,1.70,93.2,57.715030,122.557143,90.257143,80.628571,32.0,3.0,1319.0,True,m,0,1,0,1,1,0
33,1.60,61.3,43.645252,145.893939,93.863636,79.787879,52.0,4.2,1353.0,False,f,0,1,0,0,0,0
34,1.73,72.3,21.350970,130.376812,82.739130,77.913043,48.0,3.2,1172.0,True,m,0,1,1,0,1,0

In [4]:
#variables dummy.. 

genero=pd.get_dummies(dfgrande['gender'])
merged= pd.concat([dfgrande, genero], axis=1)

dfgrande=merged.drop(['gender', 'm'], axis=1)
dfgrande.head()

,height,weight,age,sistolic,diastolic,heart_rate,pulse_pressure,cardiac_index,systemic_vascular_resistance,treatment,smoking,excercise_frecuency,beer,wine,alcohol,strong_licor,f
patient_id,,,,,,,,,,,,,,,,,
30,1.78,102.0,33.854327,120.457143,79.957143,72.685714,41.0,2.3,1158.0,True,0,5,0,0,1,0,0
31,1.67,82.4,71.064644,143.405405,91.067568,65.500000,52.0,2.8,1417.0,False,0,2,0,0,1,0,0
32,1.70,93.2,57.715030,122.557143,90.257143,80.628571,32.0,3.0,1319.0,True,0,1,0,1,1,0,0
33,1.60,61.3,43.645252,145.893939,93.863636,79.787879,52.0,4.2,1353.0,False,0,1,0,0,0,0,1
34,1.73,72.3,21.350970,130.376812,82.739130,77.913043,48.0,3.2,1172.0,True,0,1,1,0,1,0,0

# Resumen estadístico.

In [5]:
# resumen estadistico con pandas
dfgrande.describe()# correlacion

,height,weight,age,sistolic,diastolic,heart_rate,pulse_pressure,cardiac_index,systemic_vascular_resistance,smoking,excercise_frecuency,beer,wine,alcohol,strong_licor,f
count,17644.000000,17644.000000,17644.000000,17644.000000,17644.000000,17644.000000,17644.000000,17644.000000,17644.000000,17644.000000,17644.000000,17644.000000,17644.000000,17644.000000,17644.000000,17644.000000
mean,1.645411,74.178741,53.414910,128.750434,82.440112,74.256058,46.306280,3.161188,1274.981807,0.057640,2.673883,0.093573,0.096803,0.292621,0.169633,0.526468
std,0.095153,13.510101,14.087366,11.864972,8.377117,9.027054,7.970568,0.593371,73.426516,0.233068,1.439272,0.291242,0.295698,0.454979,0.375320,0.499313
min,1.340000,36.900000,16.016754,87.281250,48.770492,48.782051,25.000000,1.600000,984.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.570000,64.000000,42.688424,120.514935,76.891810,68.000000,41.000000,2.700000,1228.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.640000,73.000000,54.638889,127.834388,82.164159,73.946306,45.000000,3.100000,1277.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,1.720000,83.000000,63.856638,136.024436,87.652917,80.342564,51.000000,3.600000,1323.000000,0.000000,4.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,1.970000,128.000000,88.735006,179.417910,123.465517,106.301587,82.000000,5.200000,1581.000000,1.000000,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# Normalizar las variables numéricas

In [6]:
cols = list(dfgrande.columns)
cols.remove('f')
cols.remove('treatment')
cols.remove('excercise_frecuency')
cols.remove('beer')
cols.remove('wine')
cols.remove('alcohol')
cols.remove('smoking')
cols.remove('strong_licor')

df_g=dfgrande[cols]

In [7]:
from sklearn import preprocessing
# obtener los nombres de las columnas
names = df_g.columns
# Crear el objeto escalador
scaler = preprocessing.StandardScaler()
# Ajustar datos en el objeto escalador
scaled_df = scaler.fit_transform(df_g)
scaled_df = pd.DataFrame(scaled_df, index=dfgrande.index, columns=names)
scaled_df.head()

,height,weight,age,sistolic,diastolic,heart_rate,pulse_pressure,cardiac_index,systemic_vascular_resistance
patient_id,,,,,,,,,
30,1.414493,2.059352,-1.388559,-0.698992,-0.296407,-0.173965,-0.665753,-1.451390,-1.593227
31,0.258428,0.608544,1.252912,1.235181,1.029913,-0.970007,0.714363,-0.608723,1.934209
32,0.573718,1.407969,0.305255,-0.521996,0.933167,0.705955,-1.794939,-0.271656,0.599503
33,-0.477250,-0.953295,-0.693525,1.444925,1.363697,0.612822,0.714363,1.750746,1.062564
34,0.889009,-0.139066,-2.276142,0.137078,0.035696,0.405125,0.212503,0.065411,-1.402555

In [8]:
scaled_df.shape

(17644, 9)

In [10]:
# se unen todas las variables
df_num = scaled_df[['height','weight','age','sistolic','diastolic','heart_rate','pulse_pressure','cardiac_index','systemic_vascular_resistance']]
df_cat = dfgrande[['smoking','excercise_frecuency','beer','wine','alcohol','strong_licor', 'f' ]]
print(df_num.shape)
print(df_cat.shape)

(17644, 9)
(17644, 7)

In [11]:
df_Y = dfgrande[['treatment']]

In [12]:
df_X = pd.concat([df_num, df_cat], axis=1)
df_X.head()

,height,weight,age,sistolic,diastolic,heart_rate,pulse_pressure,cardiac_index,systemic_vascular_resistance,smoking,excercise_frecuency,beer,wine,alcohol,strong_licor,f
patient_id,,,,,,,,,,,,,,,,
30,1.414493,2.059352,-1.388559,-0.698992,-0.296407,-0.173965,-0.665753,-1.451390,-1.593227,0,5,0,0,1,0,0
31,0.258428,0.608544,1.252912,1.235181,1.029913,-0.970007,0.714363,-0.608723,1.934209,0,2,0,0,1,0,0
32,0.573718,1.407969,0.305255,-0.521996,0.933167,0.705955,-1.794939,-0.271656,0.599503,0,1,0,1,1,0,0
33,-0.477250,-0.953295,-0.693525,1.444925,1.363697,0.612822,0.714363,1.750746,1.062564,0,1,0,0,0,0,1
34,0.889009,-0.139066,-2.276142,0.137078,0.035696,0.405125,0.212503,0.065411,-1.402555,0,1,1,0,1,0,0

In [13]:
# Dividir el dataset en train y test
X_train, X_test, y_train, y_test = train_test_split(df_X, df_Y, test_size=0.25, random_state=0)

In [14]:
import statsmodels.api as sm
model_bin = sm.GLM(y_train, X_train, family=sm.families.Binomial())
bin_results = model_bin.fit()
print(bin_results.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:              treatment   No. Observations:                13233
Model:                            GLM   Df Residuals:                    13217
Model Family:                Binomial   Df Model:                           15
Link Function:                  logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -8288.9
Date:                Wed, 24 Jun 2020   Deviance:                       16578.
Time:                        21:10:20   Pearson chi2:                 1.33e+04
No. Iterations:                     4
Covariance Type:            nonrobust
================================================================================================
                                   coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------------
height                          -0.1942      0.044     -4.448      0.000      -0.280      -0.109
weight                          -0.0818      0.077     -1.068      0.286      -0.232       0.068
age                              0.7207      0.068     10.539      0.000       0.587       0.855
sistolic                         0.5934      0.541      1.097      0.273      -0.467       1.653
diastolic                       -0.4302      0.385     -1.118      0.263      -1.184       0.324
heart_rate                       0.3180      0.113      2.819      0.005       0.097       0.539
pulse_pressure                  -0.3177      0.362     -0.879      0.380      -1.026       0.391
cardiac_index                   -0.4689      0.145     -3.229      0.001      -0.753      -0.184
systemic_vascular_resistance    -0.0542      0.109     -0.495      0.621      -0.269       0.160
smoking                         -0.0850      0.080     -1.062      0.288      -0.242       0.072
excercise_frecuency             -0.0083      0.010     -0.861      0.389      -0.027       0.011
beer                            -0.2497      0.080     -3.117      0.002      -0.407      -0.093
wine                             0.1024      0.082      1.245      0.213      -0.059       0.264
alcohol                         -0.0149      0.086     -0.173      0.863      -0.183       0.154
strong_licor                    -0.1095      0.081     -1.348      0.178      -0.269       0.050
f                               -0.1923      0.044     -4.392      0.000      -0.278      -0.107
================================================================================================

In [15]:
bin_results.deviance

16577.872960581735

In [16]:
model_bin.predict()

TypeError: predict() missing 1 required positional argument: 'params'

In [17]:
X_test.head(3)

,height,weight,age,sistolic,diastolic,heart_rate,pulse_pressure,cardiac_index,systemic_vascular_resistance,smoking,excercise_frecuency,beer,wine,alcohol,strong_licor,f
patient_id,,,,,,,,,,,,,,,,
250,-0.792540,-1.493646,-0.174993,0.009299,0.447632,0.095035,-0.540288,1.076612,0.558645,0,2,0,0,0,0,1
8128,-0.372153,0.356873,-1.361734,2.195564,2.260707,1.623505,0.839829,1.919280,1.266856,0,1,0,0,0,0,1
4387,-1.423121,0.134811,0.297802,0.349059,0.466909,-0.601734,-0.038427,-0.271656,0.871892,0,1,0,0,0,0,1